---
http_interactions:
- request:
    method: get
    uri: http://oscars.yipitdata.com/films/The_Deer_Hunter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 00147BFB5513DDD9
      Last-Modified:
      - Tue, 17 Nov 2015 19:44:37 GMT
      Etag:
      - '"7231c3f0e490575d0e46f1d6d5a2c0a0"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \" Production company \": \" EMI \", \n    \" Release dates
        \": \"   December\\u00a08,\\u00a01978 ( 1978-12-08 )  ( Los Angeles )  February\\u00a023,\\u00a01979
        ( 1979-02-23 )  (United States)  February\\u00a027,\\u00a01979 ( 1979-02-27
        )  (United Kingdom)     \", \n    \" Running time \": \"183 minutes [ 1 ]\",
        \n    \"Box office\": \"$49 million [ 3 ]\", \n    \"Budget\": \"$15 million
        [ 2 ]\", \n    \"Cinematography\": \"Vilmos Zsigmond\", \n    \"Country\":
        \"United States\", \n    \"Directed by\": \"Michael Cimino\", \n    \"Distributed
        by\": \"Columbia - EMI - Warner  (UK)  Universal Pictures  (US)\", \n    \"Edited
        by\": \"Peter Zinner\", \n    \"Language\": \"English Russian Vietnamese French\",
        \n    \"Music by\": \"Stanley Myers\", \n    \"Produced by\": \"Barry Spikings
        \ Michael Deeley Michael Cimino John Peverall\", \n    \"Screenplay by\":
        \"Deric Washburn\", \n    \"Starring\": \"Robert De Niro  Christopher Walken
        \ John Savage  John Cazale  Meryl Streep  George Dzundza\", \n    \"Story
        by\": \"Michael Cimino Deric Washburn Louis Garfinkle  Quinn K. Redeker\",
        \n    \"Title\": \"The Deer Hunter\"\n}"
  recorded_at: Mon, 15 May 2017 20:03:45 GMT
recorded_with: VCR 2.9.3
