---
http_interactions:
- request:
    method: get
    uri: http://oscars.yipitdata.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 2D4F89673E8EECA1
      Last-Modified:
      - Wed, 25 Nov 2015 00:55:21 GMT
      Etag:
      - '"646c90ea6ed64923b482d1712da0ed1f"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n    \"results\": [\n        {\n            \"films\": [\n                {\n
        \                   \"Detail URL\": \"http://oscars.yipitdata.com/films/Wings_(1927_film)\",
        \n                    \"Film\": \"Wings\", \n                    \"Producer(s)\":
        \"Lucien Hubbard\", \n                    \"Production Company(s)\": \"Paramount
        , Famous Players-Lasky\", \n                    \"Wiki URL\": \"http://en.wikipedia.org/wiki/Wings_(1927_film)\",
        \n                    \"Winner\": true\n                }, \n                {\n
        \                   \"Detail URL\": \"http://oscars.yipitdata.com/films/The_Racket_(1928_film)\",
        \n                    \"Film\": \"The Racket\", \n                    \"Producer(s)\":
        \"Howard Hughes\", \n                    \"Production Company(s)\": \"Paramount,
        Caddo\", \n                    \"Wiki URL\": \"http://en.wikipedia.org/wiki/The_Racket_(1928_film)\",
        \n                    \"Winner\": false\n                }, \n                {\n
        \                   \"Detail URL\": \"http://oscars.yipitdata.com/films/Seventh_Heaven_(1927_film)\",
        \n                    \"Film\": \"Seventh Heaven\", \n                    \"Producer(s)\":
        \"William Fox\", \n                    \"Production Company(s)\": \"Fox\",
        \n                    \"Wiki URL\": \"http://en.wikipedia.org/wiki/Seventh_Heaven_(1927_film)\",
        \n                    \"Winner\": false\n                }\n            ],
        \n            \"year\": \"1927 / 28 [A]  (1st)\"\n        }, \n        {\n
        \           \"films\": [\n                {\n                    \"Detail
        URL\": \"http://oscars.yipitdata.com/films/The_Broadway_Melody\", \n                    \"Film\":
        \"The Broadway Melody\", \n                    \"Producer(s)\": \"Irving Thalberg
        & Lawrence Weingarten\", \n                    \"Production Company(s)\":
        \"Metro-Goldwyn-Mayer  [L]\", \n                    \"Wiki URL\": \"http://en.wi[...]
